:root {
  /* --btn-color: #212121; */
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  outline: 2px solid red;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

/* =============HEADER================*/

.header {
  display: block;
  padding-top: 24px;
}

.nav-head {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo {
  color: #000000;
}

.header-list {
  display: flex;
  margin-left: 90px;
}

.header-item {
  margin-right: 50px;
  /* background-color: tomato; */
}

.header-list .header-item:last-child {
  margin-right: 0;
}

.header-contact {
  display: flex;
  margin-left: auto;
  /* margin-right: auto; */
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--btn-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-right: 50px;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  margin-right: 0;
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* =============HERO================*/

.hero {
  background-color: #212121;
  margin-bottom: 90px;
  width: 100%;
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  display: block;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  /* padding: 350px 700px 200px; */
}

/* =============SPECIFICATION================*/

.specification {
  margin-bottom: 95px;
}

.specification-list {
  display: flex;
}
.specification-list .specification-item:last-child {
  margin-right: 0;
}
.specification-item {
  margin-right: 30px;
}
.specification-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.specification-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* =============PROGEKT================*/

.progekt {
  padding-bottom: 95px;
}

.title-list {
  display: flex;
}
.progekt-item {
  margin-right: 30px;
}
.title-list .progekt-item:last-child {
  margin-right: 0;
}

.progekt-title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

/* =============TEAM================*/

.team {
  padding-bottom: 95px;
  background: #f5f4fa;
}

.team-list {
  display: flex;
}

.team-item {
  margin-right: 30px;
}

.team-list .team-item:last-child {
  margin-right: 0;
}

.team-title {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-group {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-name {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.team-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* =============FILTERS================*/

.filters-btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.filters-btn:hover,
.filters-btn:focus {
  color: #ffffff;
  cursor: pointer;
}

/* =============WORKS================*/

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}
.works-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* =============FOOTER================*/

.footer {
  background-color: #212121;
}
.footer-contacts-logo {
  padding-top: 60px;
  padding-bottom: 20px;
}
.footer-contacts {
  padding-top: 20px;
  padding-bottom: 60px;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logo-footer {
  color: #ffffff;
}
.footer-address {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-mail {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-mail:hover,
.footer-mail:focus {
  color: var(--accent-color);
}
.footer-tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}
